.float_container {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1000;
}

.embed_container {
  
    border: #fff00fff;
    width: 100vw;
    height: 100vh;
    min-width: 500px;
    min-height: 500px;
    background-color:#474747;
  }
.embedSettings {
  width: 392px;
  color: white;
  background-color:#474747;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

div.label {
  font-size: 14px;
  font-family: "Segoe UI SemiBold";
}

div.white {
  color: white;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #181818;
  margin: .25em 0;
}

.reload_icon {
  width: 25px;
  height: 25px;
  opacity: 0.25;
  margin: 0 auto;
  background:
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik03IDloLTd2LTdoMXY1LjJjMS44NTMtNC4yMzcgNi4wODMtNy4yIDExLTcuMiA2LjYyMyAwIDEyIDUuMzc3IDEyIDEycy01LjM3NyAxMi0xMiAxMmMtNi4yODYgMC0xMS40NS00Ljg0NC0xMS45NTktMTFoMS4wMDRjLjUwNiA1LjYwMyA1LjIyMSAxMCAxMC45NTUgMTAgNi4wNzEgMCAxMS00LjkyOSAxMS0xMXMtNC45MjktMTEtMTEtMTFjLTQuNjYgMC04LjY0NyAyLjkwNC0xMC4yNDkgN2g1LjI0OXYxeiIvPjwvc3ZnPg==)
    no-repeat
    center;
    background-size: auto;
    background-size: 100% 100%;
}

.open_icon {
  width: 12px;
  height: 12px;
  /* opacity: 0.25; */
  margin: 0 auto;
  background: 
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjEgMTN2MTBoLTIxdi0xOWgxMnYyaC0xMHYxNWgxN3YtOGgyem0zLTEyaC0xMC45ODhsNC4wMzUgNC02Ljk3NyA3LjA3IDIuODI4IDIuODI4IDYuOTc3LTcuMDcgNC4xMjUgNC4xNzJ2LTExeiIvPjwvc3ZnPg==)
    no-repeat
    center;
    background-size: auto;
    background-size: 100% 100%;
}

.edit_icon {
  width: 25px;
  height: 25px;
  fill: green;
  /* opacity: 0.25; */
  margin: 0 auto;
  background: 
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTggMTMuNDVsMi0yLjAyM3Y0LjU3M2gtMnYtMi41NXptLTExLTUuNDVoMS43NDNsMS45NzgtMmgtMy43MjF2MnptMS4zNjEgMy4yMTZsMTEuMTAzLTExLjIxNiA0LjUzNiA0LjUzNC0xMS4xMDIgMTEuMjE4LTUuODk4IDEuMjQ4IDEuMzYxLTUuNzg0em0xLjMwNiAzLjE3NmwyLjIzLS40NzIgOS4yODEtOS4zNzgtMS43MDctMS43MDctOS4yOTMgOS4zODgtLjUxMSAyLjE2OXptMy4zMzMgNy42MDh2LTJoLTZ2Mmg2em0tOC0yaC0zdi0yaC0ydjRoNXYtMnptMTMtMnYyaC0zdjJoNXYtNGgtMnptLTE4LTJoMnYtNGgtMnY0em0yLTZ2LTJoM3YtMmgtNXY0aDJ6Ii8+PC9zdmc+)
    no-repeat
    center;
    background-size: auto;
    background-size: 100% 100%;
}
