.treeRoot {
    background-color:#474747;
    color: white;
    min-width: 392px;
    width: 392px;
    height: 100vh;
    min-height: 392px;
    max-height: 100vh;
    margin-right: 10px;  
    overflow-y: scroll;
}

.treeItem {
  background-color:#5a5a5a;
  margin-right: 10px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #181818;
    margin: .25em 0;
  }

  hr.light{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2e2e2e;
    margin: .05em 0;
    /* margin-right: 20px; */
  }